name: On Release Workflow

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Fetch git tags
        run: git fetch --tags

      - name: Version consistency check
        run: ./contrib/check-version.sh

      # Buildx Needs QEMU
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      # We use Buildx so we can take advantage of the caching
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ github.token }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          tags: |
            ghcr.io/mailgun/gubernator:${{ github.event.release.tag_name }}
            ghcr.io/mailgun/gubernator:latest
          build-args: |
            VERSION=${{ github.event.release.tag_name }}
          platforms: linux/amd64,linux/arm64
          pull: true
          push: true

      # Publish the Helm chart
#      - name: Publish Helm chart
#        uses: stefanprodan/helm-gh-pages@v1.5.0
#        with:
#          token: ${{ secrets.GITHUB_TOKEN }}
